/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

/* .ibg{

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  }
  
  .ibg img{
  
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  } */

body{
  font-family: 'Lato', Arial, sans-serif;
  overflow-x: hidden;
}



.header {
  background-image: url(./img/img1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__list-item {
  padding-top: 55px;
  padding-right: 45px;
}

.nav__list-item:nth-child(3) {
  margin-top: -29px;
}

.nav__list-item:last-child {
  padding-right: 0;
}

.nav__list-link {
  text-transform: uppercase;
  margin-right: 21px;
  color: #4d4959;
  font-weight: 700;
  font-size: 13px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.vintage__icon1 {
text-align: center;
padding-top: 110px;
padding-bottom: 24px;
}

.vintage__title {
  font-size: 18px;
  color: #353738;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.vintage__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  font-weight: 400;
  text-align: center;
  padding-bottom: 138px;
}


.brands__row {
  display: flex;                                         /* Картинка зависит от высоты соседнего блока */
}

.brands__column66 {
  position: relative;                                   /* Картинка зависит от высоты соседнего блока */
  flex: 2;                                                  /* Колонка на 75% */
}

/* .brands__column66:hover {
  background-color: green;
  background-image: url(./img/Logo2.png);
  background-position: center;
  background-repeat: no-repeat;
} */

.brands__column66-logo img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.brands__column66:hover img{
  display: block;
}

.vintage__icon2 {
  text-align: center;
  padding-top: 67px;
  padding-bottom: 24px;
  }

.brands__column33 {
  flex: 1;                                                  /* Колонка на 25% */
}

.brands__column33-image {
  width: 100%;
}

/* .brands__column66 */
.div img {
  position: absolute;                               /* Картинка зависит от высоты соседнего блока */
  object-fit: cover;                               /* Картинка зависит от высоты соседнего блока */
  width: 100%;                                    /* Картинка зависит от высоты соседнего блока */
  height: 100%;                                  /* Картинка зависит от высоты соседнего блока */
  top: 0;                                       /* Картинка зависит от высоты соседнего блока */
  left: 0;                                     /* Картинка зависит от высоты соседнего блока */
}

.vintage__text2 {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
}

.vintage__desc2  {
  text-align: justify;
  padding-left: 61px;
  padding-right: 61px;
  position: relative;
}

.vintage__desc2:after  {
  content: " ";
  width: 50px;
  height: 1px;
  background-color: rgba(53,55,56,0.2);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.brands__column66--order{
  order: 2;
}

.brands__column-min {
  flex: 0 1 33.333%;                                  /* Колонки шириной по 33% */
}

.brands__column-min img {
  object-fit: contain;                             /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
  width: 100%;                                    /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
}

.brands__column {
  flex: 0 1 33.333%;                                  /* Колонки шириной по 33% */
  position: relative;                                   /* Картинка зависит от высоты соседнего блока */    /* 2.0 */
}

.div2 img {
  position: absolute;                               /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
  object-fit: cover;                               /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
  width: 100%;                                    /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
  height: 100%;                                  /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
  top: 0;                                       /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
  left: 0;                                     /* Картинка зависит от высоты соседнего блока */     /* 2.0 */
}

.brands__column:hover img {
  display: block;
}

.twitter__icon {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 27px;
}

.twitter__title {
  font-size: 18px;
  color: #353738;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
  padding-bottom: 17px;
}

.twitter__title span {
  padding-left: 10px;
}

.twitter__desc {
  text-align: center;
  font-size: 24px;
  color: #848789;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  padding-bottom: 110px;
}


.collage {
  display: flex;
}

.column1__row1 {
  display: flex; 
}

.collage__column1 {
  width: 100%;
}

.collage__column1 img {
  width: 100%;
}

.column1__row2{
  position: relative;
} 

.row1__img {
  width: 100%;
  
}
.row1__img img {
  width: 100%;
}

.collage__column2 {
  width: 100%;
  position: relative;
  padding-bottom: 33%;
  
}
.collage__column2 img{
  position: absolute;
  object-fit: cover; 
  width: 100%;  
  height: 100%;
  top: 0;
  left: 0;
}

.min{
  flex: 0 1 30%;
}

.big{
  flex:0 1 60%
}

.shop__body {
text-align: center;
background-color: #282f35;
}

.shop__btn {
  margin-top: 75px;
  margin-bottom: 65px;
  border: 1px solid rgba(255,255,255,0.5);
  color: white;
  background-color: #282f35;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
  font-size: 14px;
  padding: 19px 50px;
}

.form {

}

.container2 {
  min-width: 123px;
}

.form__body {
  text-align: center;
  
}

.form__logo {
  padding-top: 95px;
  padding-bottom: 25px;
}

.form__title {
  color: #848789;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  text-align: center;
  font-size: 24px;
  padding-bottom: 35px;
}

.form__area {
  margin-bottom: 110px;
  border: 1px solid #d3d7d9;
  display: inline-block;
}

.foorm__area-input {
  font-size: 20px;
  color: black;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  text-align: center;
  text-align-last: left;
  padding: 20px 200px 20px 42px;
}

::placeholder{
  color: #d3d7d9;
}

.form__btn{
  color: white;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
  font-size: 24px;
  
}

.form__btn span{
  background-color: #64c29e;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer {
  background-color: #f7f7f7;
}
.container {
}
.footer__body {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 80px;
}

.footer__left {
}

.footer__left p {
  padding-bottom: 4px;
  font-size: 16px;
  color: #848789;
  font-weight: 700;
  font-family: "Lato";
}

.footer__left p:last-child {
  padding-bottom: 0;
}

.footer__center {
  margin-left: -180px;
}

.footer__center-link{
  margin-right: 23px;
}

.footer__right{
  position: relative;
}

.footer__right span {
  font-size: 14px;
  color: #848789;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  position: absolute;
  top: 8px;
  left: -96px;
}
